.label-wrapper {
    display: block;
    padding-top: 10px;
    text-align: center;
    min-height: 280px;
    font-weight: normal;
    border: 5px solid rgb(244, 244, 244);
}
.label-wrapper .roundedOne{
    display: none;
}

.label-wrapper:hover {
    border-color: rgba(0, 115, 183, .5);
    border-radius: 5px;
}
.img-preview-horizontal{
    max-width: 300px;
}
.cb-selected {
    border: 5px solid rgba(0, 115, 183, .5);
    border-radius: 5px;
}
.sl_cb {
    width: 1px;
    height: 1px;
    visibility: hidden;
}
.roundedOne{
    width: 14px;
    height: 14px;
}
.roundedOne label{
    width: 10px;
    height: 10px;
}
.roundedOne label:after{
    width: 8px;
    height: 7.5px;
}
p.layout-header.badge{
    font-size: 9px;
}

.top-img-vertical{
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: url(/img/public/content/layouts/placeholder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#misc-part-img{
    position: absolute;
    top: 35%;
    left: 0;
    height: 65%;
    width: 100%;
    background: url(/img/public/content/layouts/placeholder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-img-horizontal,
.right-img-horizontal {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
}
.left-img-horizontal{
    left: 0;
    background: url(/img/public/content/layouts/placeholder.png) no-repeat center center;
    background-size: cover;
}
.right-img-horizontal{
    left: 50%;
    background: transparent;
}
.full-img-horizontal{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    background: url(/img/public/content/layouts/placeholder.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    z-index:1;
}
.full-img-horizontal:before{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.overlaid-desc_below{
    position: absolute;
    top: 35%;
    left: 0;
    height: 65%;
    width: 100%;
    color:#fff;
    font-size: 2rem;
    word-wrap: break-word;
    line-height: normal;
    text-align:center;
}
.cont-name-below .sublayout-price {
    color:#00ff17;
    font-size: 1.5rem;
}
.cont-description-below .sublayout-name,
.cont-description-overlay_white .sublayout-name,
.cont-description-overlay_black .sublayout-name{
    float:left;
    width:60%;
}
.cont-description-below .sublayout-price,
.cont-description-overlay_white .sublayout-price,
.cont-description-overlay_black .sublayout-price{
    float:left;
    width:40%;
    color:#00ff17;
}
.cont-description-below .sublayout-description,
.cont-description-overlay_white .sublayout-description,
.cont-description-overlay_black .sublayout-description{
    float:left;
    width:100%;
}
.cont-description-below .sublayout-description,
.cont-description-overlay_white .sublayout-description,
.cont-description-overlay_black .sublayout-description {
    font-size: 1.5rem;
}

/* pagination style */
.paginationjs .paginationjs-pages{
    float: right;
}
.paginationjs .paginationjs-nav, .paginationjs .paginationjs-pages li>a{
    font-size: 11px;
}
#pageperquestion-questions ul{
    padding-left: 0;
}
#pageperquestion-questions ul li{
    list-style: none;
}
@media (min-width: 1500px) {
    .label-wrapper {
        min-height: 350px;
    }
}

input[name="sub_layout"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
div[class*="fields-layout"],
div[class*="fields-sub-layout"] {
    display: none;
}
.layout-preview {
    text-align: center;
}
.preview-phone .preview-phone-small {
}
.phone_bg{
    background-image: url(/img/public/content/layouts/White.png);
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#container{
    width: 300px;
    position: relative;
}
#container:before{
    content: "";
    display: block;
    padding-bottom: 156%;
}
.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    height: 10%;
    line-height: 10%;
    width: 100%;
    z-index: 2;
}

/**
 *
 * Definitely used.
 *
 */

.sublayout-img-selected {
    background-image: url('/img/public/content/layouts/placeholder.png');
}
.phone-label{
    line-height: 3.5rem;
}
.cb-selected .layout-header {
    color: #fff;
    background: #0073b7;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
}
.cb-selected .layout-header .help-popup::after {
    color: #fff;
}
.preview-heatmap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    width: 800px;
    height: 800px;
    margin-bottom: 10px;
    max-width: 100%;
    background-size: 100% auto; 
}

.preview-phone-horizontal .preview-phone-content {
    top: 9%;
    right: 12.75%;
    bottom: 4.93%;
    left: 9.89%;
}
.preview-phone.ui-resizable {
    max-width: none;
}

.preview-phone-content {
    line-height: 1.2;
    font-size: 14px;
    position: absolute;
    top: 10.1%;
    right: 8.93%;
    bottom: 12.1%;
    overflow-y: auto;
    left: 3.4%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.preview-phone-content-survey {
    font-size: 12px;
    text-align: center;
}
.preview-phone-small .preview-phone-content {
    font-size: 7px;
}
.preview-phone-horizontal-small{
    max-width: 90% !important;
}
.preview-phone::before {
    content: "";
    display: block;
    padding-bottom: 200%; /* ratio of the image, not the content */
}
.preview-phone-horizontal::before {
    padding-bottom: 50%; /* ratio of the image, not the content */
}

.preview-phone-img-full {
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.full-img-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4.5% 1%;
    font-size: 1.05em;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    z-index: 2;
}
.full-img-header:empty {
    display: none;
}
.preview-phone-horizontal .full-img-header {
    padding: 1.4% 1%;
}
.sublayout-buttons {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 2.5% 0;
    width: 100%;
    left: 0;
    clear: both;
    z-index: 3;
}
.sublayout-buttons .badge {
    font-size: 0.6em;
    display: inline-block;
    padding: 2.2% 3%;
    border-radius: 2px;
    margin: 2%;
}
.sublayout-buttons .badge:empty {
    display: none;
}

.full-middle-header { /* not completey sure about this one */
    position: absolute;
    top: 144px;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: #000;
    text-align: center;
    height: auto;
    width: 100%;
    z-index: 2;
}

.retail-content {
}
.retail-content .sublayout-buttons {
    position: static;
}
.cont-name-below,
.cont-description-below,
.cont-description-overlay_white,
.cont-description-overlay_black {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    padding: 4.5% 1%;
}
.cont-description-overlay_white {
    background-color: rgba(255, 255, 255, 0.7);
    color: #666;
    bottom: auto;
    top: 53%;
}
.cont-description-overlay_black {
    bottom: auto;
    top: 53%;
    word-wrap: break-word;
}
.preview-lock-info{
    padding: 10% 1% 4.5% 1%;
    color: #fff;
    text-align: center;
    z-index: 2;
}
.lock-screen-hour {
    font-size: 3em;
}
.lock-screen-date {
    font-size: 0.9em;
}
.cont-push {
    padding: 4.5%;
    color: #fff;
    z-index: 2;
    border-top: solid 1px #afafaf;
    border-bottom: solid 1px #afafaf;
}
.black-bg {
    background-color: rgba(0, 0, 0, 0.5);
}
.push-title {
    font-size: .9em;
}
.cont-push-logo{
    width: 15%;
    float: left;
}
.push-logo{
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/logo_d.png);
}
.cont-push-desc{
    width: 85%;
    float: left;
    padding-left: 3%;
    text-align: left;
}
.push-message{
    font-size: .6em;
}
.cont-white-push{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 95%;
    margin-left: 2.5%;
    margin-top: 5%;
    border-radius: 2px;
    background: #fff;
    color: #afafaf;
    z-index: 2;
}
.cont-white-push .cont-push-desc{
    padding: 4.5%;
    color: #333;
}
.cont-white-push .cont-push-header{
    padding: 2.5%;
}
.cont-white-push .cont-push-header .cont-push-logo{
    width: 10%;
}
.cont-white-push .cont-push-header .cont-push-desc{
    padding: 1.5%;
}
.cont-white-push .cont-push-header .push-title{
    font-size: .6em;
}
.cont-push-image {
    width: 100%;
    padding-bottom: 50%;
    background: url(/img/public/content/layouts/placeholder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
