.preview-heatmap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    width: 800px;
    height: 400px;
    margin-bottom: 10px;
    max-width: 100%;
    background-size: 100% auto; 
}

.preview-phone-content {
    line-height: 1.2;
    font-size: 14px;
    position: absolute;
    top: 10.1%;
    right: 8.93%;
    bottom: 12.1%;
    overflow-y: auto;
    left: 3.4%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
